.bg-image {
    background: url('../img/background.jpg');
}

.jumbotron {
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);  
}

.article-images {
    max-width: 300px;
    max-height: 300px;
}

.brand-icon {
    width: 100px;
}